In [1]:
import pandas as pd
import re
import nltk
import spacy
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [2]:
df = pd.read_json(r'C:\Users\harsh\Documents\MPSTME\Sem VI\NLP\Office_Products_5.json', lines=True)
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A32T2H8150OJLU,B00000JBLH,ARH,"[3, 4]","I bought my first HP12C in about 1984 or so, a...",5,"A solid performer, and long time friend",1094169600,"09 3, 2004"
1,A3MAFS04ZABRGO,B00000JBLH,"Let it Be ""Alan""","[7, 9]",WHY THIS BELATED REVIEW? I feel very obliged t...,5,"Price of GOLD is up, so don't bury the golden ...",1197676800,"12 15, 2007"
2,A1F1A0QQP2XVH5,B00000JBLH,Mark B,"[3, 3]",I have an HP 48GX that has been kicking for mo...,2,"Good functionality, but not durable like old HPs",1293840000,"01 1, 2011"
3,A49R5DBXXQDE5,B00000JBLH,R. D Johnson,"[7, 8]",I've started doing more finance stuff recently...,5,One of the last of an almost extinct species,1145404800,"04 19, 2006"
4,A2XRMQA6PJ5ZJ8,B00000JBLH,Roger J. Buffington,"[0, 0]",For simple calculations and discounted cash fl...,5,Still the best,1375574400,"08 4, 2013"

In [3]:
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')

def clean_text(text):
    text = text.lower()
    text = REPLACE_BY_SPACE_RE.sub(' ', text)
    text = BAD_SYMBOLS_RE.sub('', text)
    return text

df['reviewText'] = df['reviewText'].apply(clean_text)
df['summary'] = df['summary'].apply(clean_text)

In [4]:
def spacey(l):
    d = {}
    nlp = spacy.load("en_core_web_sm")
    doc = nlp(l)
    token = []
    lemma = []
    pos = []
    dep = []
    noun = []

    for x in doc:
        token.append(x.text)
        lemma.append(x.lemma_)
        pos.append(x.pos_)
        dep.append(x.dep_)

    for noun1 in doc.noun_chunks:
        noun.append(noun1.text)

    d['Tokens'] = token
    d['Lemmatizer'] = lemma
    d['Pos Tag'] = pos
    d['Dependancy Parser'] = dep
    d['Nouns'] = noun

    return d

df['Spacy']=df.iloc[0:50]['reviewText'].apply(spacey)
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,Spacy
0,A32T2H8150OJLU,B00000JBLH,ARH,"[3, 4]",i bought my first hp12c in about 1984 or so a...,5,a solid performer and long time friend,1094169600,"09 3, 2004","{'Tokens': ['i', 'bought', 'my', 'first', 'hp1..."
1,A3MAFS04ZABRGO,B00000JBLH,"Let it Be ""Alan""","[7, 9]",why this belated review i feel very obliged to...,5,price of gold is up so dont bury the golden f...,1197676800,"12 15, 2007","{'Tokens': ['why', 'this', 'belated', 'review'..."
2,A1F1A0QQP2XVH5,B00000JBLH,Mark B,"[3, 3]",i have an hp 48gx that has been kicking for mo...,2,good functionality but not durable like old hps,1293840000,"01 1, 2011","{'Tokens': ['i', 'have', 'an', 'hp', '48gx', '..."
3,A49R5DBXXQDE5,B00000JBLH,R. D Johnson,"[7, 8]",ive started doing more finance stuff recently ...,5,one of the last of an almost extinct species,1145404800,"04 19, 2006","{'Tokens': ['i', 've', 'started', 'doing', 'mo..."
4,A2XRMQA6PJ5ZJ8,B00000JBLH,Roger J. Buffington,"[0, 0]",for simple calculations and discounted cash fl...,5,still the best,1375574400,"08 4, 2013","{'Tokens': ['for', 'simple', 'calculations', '..."